@import url('./globalStyles.css');

.container h4 {
    font-size: 3rem;
    margin-bottom: 5em;
}

.algorithm-sections {
    display: flex;
    justify-content: space-around;
}

.algorithm-content {
    width: 100%;
}

.algorithm-content button {
    color: var(--font-color);
    outline: none;
    border: none;
    width: 70%;
    font-size: 1.75rem;
    background-color: var(--primary-color);
    height: 3em;
    border-radius: 0.5em;
    font-weight: semi-bold;
    cursor: pointer;
    opacity: 0.8;
}

.algorithm-content button:hover {
    opacity: 1;
}